@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
}
body {
  line-height: 150%;
}
body, canvas, div {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:link, a:visited {
	color: inherit;
	text-decoration: none;
}
a:hover, a:active {
	text-decoration: underline;
}
h1 {
	font-size: 25px;
	color: #FFF;
}
h2 {
	font-size: 19px;
	color: #333;
	margin-top: 5px;
	margin-bottom: 5px;
}
h3 {
	font-size: 12px;
	color: #666;
	margin-top: 5px;
	margin-bottom: 5px;
}
p{
	margin-bottom:10px;
}
header, footer {
	display: block;
}